# Ignore virtual env
venv/

# Python bytecode
*.pyc
__pycache__/
app/__pycache__/
app/helpers/__pycache__/

# IDE files
.vscode/
.idea/

# Pseudocode
pseudocode.txt

# Cache files
app/scan_report_current_cache.log
app/scan_report_history_cache.log